* {
    font-family: "Nunito", sans-serif;
}

nav ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    list-style-type: none;
    background-color: #59088B;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid black;
}

body {
    background-image: url(tallbg.png);
    background-size: 135vw;
    margin: 0;
}

nav a {
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 120%;
    display: inline-block;
    transition: 0.25s;
}

nav a:hover {
    background-color: #410268;
}

#title, #titlecontact {
    font-size: 150%;
    color: white;
    text-align: center;
}

#abouttitle {
    font-size: 200%;
    color: white;
    text-align: center;
}

.page_link {
    display: flex;
    padding: 1em 2em;
    margin: 0 5em 2em 5em;
    border: 3px solid black;
    background: linear-gradient(210deg, #8050af, #EBE9F4 100%);
    border-radius: 15px;
    transition: 0.25s;
}

.page_link:hover, .item:hover {
    border: 12px solid rgb(62, 5, 76);
}

.page_link h5 a {
    font-size: 3em;
    text-decoration: none;
    margin: 0.2em auto;
    color: #59088B;
}

.page_link img {
    border: 3px #30033F solid;
    border-radius: 5px;
    max-width: 25em; 
    margin-left: 10px;
}

.item img, video {
    border: 3px #30033F solid;
    border-radius: 5px;
    margin-left: 10px;
    width: calc(100% - 20px - 1em);
}

.page_link p {
    font-size: 90%;
}

.current {
    text-decoration: underline 2px;
}

form {
    width: 55em;
    margin: auto;
    font-size: 120%;
}

label {
    color: #BEA4DD;
    float: left;
    display: block;
    width: 15em;
    margin-right: 1em;
    text-align: right;
}

input[type="submit"] {
    width: 547px;
    padding: 8px;
    margin-left: 23em;
    background-color: #BEA4DD;
    transition: 0.25s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8050af;
}

input, textarea {
    display: block;
    padding: 5px;
    margin-bottom: 15px;
    width: 40em;
}

footer {
    background-color: #59088B;
    padding: 5px 0;
    border-top: 5px solid black;
    font-size: 80%;
}

footer ul {
    list-style-type: none;
}

footer ul li a, footer ul li {
    text-align: center;
    font-size: 110%;
    color: #EBE9F4;
}

.item {
    padding-left: 1em;
    margin: 1em;
    border: 3px solid black;
    background: linear-gradient(210deg, #8050af, #EBE9F4 100%);
    border-radius: 15px;
    transition: 0.25s;
}

.item ul {
    padding-right: 2em;
}

.item h3 {
    font-size: 200%;
    margin: 0.5em;
}

#columns {
    margin: 1em;
}

main {
    padding: 0 4em 0 4em;
}

#profile {
    float: left;
    margin-right: 1.5em;
    width: 9em;
    border: 3px #30033F solid;
    border-radius: 5px;
}

#aboutText {
    color: white;
    margin: auto;
    max-width: 900px;
    font-size: 133%;
    line-height: 167%;
}

table {
    border: 3px solid black; 
    width: 80%;
    margin: auto;
    opacity: 66.667%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    margin-top: 3em;
}

tr:nth-of-type(odd) {
    background-color: #f9f5fa;
}

tr:nth-of-type(even) {
    background-color: #e9d7ef;
}

td, th {
    padding: 1em;
    border: 2px solid black;
}

em {
    opacity: 70%;
    font-size: 65%;
}

@media (min-width: 1000px) {
    #columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        padding: 0 2em 0 2em;
    }

    nav ul {
        flex-direction: column;
        flex-wrap: wrap;
        height: 8em;
        text-align: center;
    }
    
    nav a {
        padding: 0.5em 1em;
        text-decoration: none;
        font-size: 100%;
        display: inline-block;
    }

    .page_link img {
        display: none;
    }

    .page_link p {
        font-size: 110%;
    }

    label {
        width: 18em;
        text-align: left;
        float: none;
        display: block;
    }

    input, textarea {
        width: 100%;
    }

    input[type="submit"] {
        margin: 0px;
        width: 102.5%;
    }

    form {
        width: 60%;
    }

    .page_link h5 a {
        font-size: 2em;
    }
}
